
@{
    ViewBag.Title = "Shop";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var item in ViewBag.ShopInfo)
    {
        <div class="col-md-2">
            <button style="background: transparent; border-color: transparent">
                <img src="@Url.Content(item.Image)" Height="135" Width="110" alt="@item.Image" />
            </button>
        </div>
        <div class="col-md-8">
            <h4>@item.Title</h4>
            <p>@item.Description</p>
            <p>Qty: @item.Quantity</p>            
            <p>Price: @item.Price</p>

        </div>
        <div class="col-md-2">
            <h2>Quick Buy</h2>
            <select>
                <option value="extraSmall">Extra Small</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="extraLarge">Extra Large</option>
            </select>
            <select>
                @for (int i = 0; i <= @item.Quantity; i++) {
                    <option value="@i">@i</option>
                }
            </select>
            <br/>
            <br />
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Buy Now &raquo;</a></p>
        </div>
    }
</div>